/* propriétés des balises p, ul, ol et li */
p,ul,ol,li {
    font-family: Arial;
    font-size: medium;
    list-style-type: none ;
    }

/* propriétés de la classe "centrer" */
.centrer {
    text-align: center;
    }

div.centrer {
    text-align: center;
    border: solid 1px blue;
    padding: 5px;
    margin: 5px;
    }
ul#menu
{
    height: 35px ;
    margin: 0 ;
    padding: 0 ;
    list-style-type: none ;
}
ul#menu li
{
    float: left ;
    text-align: center ;
}
ul#menu li a
{
    width: 130px ;
    line-height: 25px ;
    font-size: 1em ;
    font-weight: bold ;
    letter-spacing: 2px ;
    color: #cccccc ;
    display: block ;
    text-decoration: none ;
    border: 2px solid #ccc ;
}

/* Général */
body {
    color: #F0E39E;
    background: #181A12; 
}
a {
    color: #FF6533;
}
a:hover, a:focus {
    color: #FF4C00;
}
strong {
    color: #A1B55D;
}

/* En-tête */
#entete {
    background: #2C2F22;
}


/* --- POSITIONNEMENT --- */

/* Page */
body {
    padding: 0; /* -> 2 */
}

/* En-tête */
#entete {
    padding: 15px 20px 10px 20px;
}
#entete h1 {
    margin: 0;
}
#entete h1 img {
    float: left;
    margin: 7px 20px 10px 0;
}
#entete .sous-titre {
    margin: 4px 0 15px 0;
}

/* Menu de navigation */
#navigation {
    padding: 12px 15px;
}
#navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#navigation li {
    display: inline; /* -> 3 */
}
#navigation a {
    padding: 6px;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}
body table:first table {
  border: medium solid #6495ed;
  border-collapse: collapse;
  width: 50%;
}
th {
  border: thin solid #6495ed;
  padding: 5px;
}
td {
  border: thin solid #6495ed;
  padding: 5px;
  text-align: center;
}

#sous {
   border-collapse: collapse;
}

#sous td {
  border: none;
}